@{
    ViewBag.Title = "Home Page";
}
@model ReportHelper.Models.strQuery
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { onkeydown = "return event.key != 'Enter'" }))
    {
        
    <style>
        .dropboxfuntion, .dropboxsort {
            width: 100%;
            height: 25px;
        }
        .jstree-1  {
            width: 270px;
            height: 100%;
        }

        .navbar {
            display: flex;
        }

        .text {
            height: 310px;
        }

        .table1, th, td {
            border-collapse: collapse;   
            border: 1px solid black;
            line-height: 25px; 
            padding: 5px;
            text-align: center; 
        }
        #title {
            height: 22px;
            padding-left: 5px;
            border: 1px solid #434343;
            min-width: 350px;
            text-transform: uppercase;
            font-size: 12px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        $(function () {
            $('#jstree').on('changed.jstree', function (e, data) {
                var i, j;
                var query = "select "
                var from = "\nfrom "
                var arrField = []
                var arrFieldForTable = []
                var arrFieldId = []
                var arrTable = []
                //var selectedItems = []
                var node
                for(i = 0, j = data.selected.length; i < j; i++) {
                    // đưa các field được chọn vào arrField từ arr các node được chọn
                    if (!data.instance.is_parent(data.selected[i])){
                        node = data.instance.get_node(data.selected[i])
                        arrField.push(data.instance.get_node(node.parent).text + "." + node.text)
                        arrFieldId.push(node)
                        arrFieldForTable.push(node.text)
                    }

                }
                // lấy id node cha, dùng Set để tránh lặp lại.
                var allIdNodesPath = Object.keys(data.selected.reduce(function (acc, nodeId) {
                    var node = data.instance.get_node(nodeId);
                    node.parents.forEach(function (code) {
                        acc[code] = 1;
                    });
                    return acc;
                }, {}));
                // lấy tên các node cha từ iD đưa vào arrTable
                for (let i = 0; i < allIdNodesPath.length - 1; i++){
                    var pnode = data.instance.get_node(allIdNodesPath[i])
                    arrTable.push(pnode.text)
                }
                var arrTd = ["<input type='text' disabled style='border: 0; padding: 0; text-align: center; color: black; width: 100px;' name='field' />",
                             "<input type='text' disabled style='border: 0; padding: 0; text-align: center; color: black; width: 100px;' name='table'/>",
                             "<select class='dropboxfuntion'> <option value='None'>None</option><option value='Count'>Count</option><option value='Sum'>Sum</option><option value='Min'>Min</option><option value='Max'>Max</option><option value='Avg'>Avg</option>",
                             "<select class='dropboxsort'> <option value='None'>None</option> <option value='Ascending'>Ascending</option><option value='Descending'>Descending</select>",
                             "<input class='group' type='checkbox' style='height: 15px; width: 20px; padding: 0; text-align:center'>",
                             "<input class='where' style='height: 19px; padding: 0; width: 97%; text-align:center;'>"
                            ]
                //
                var table = document.getElementById("myTable")
                function addRow() {
                    var tbody = table.getElementsByTagName("tbody")[0]
                    var colCount = 6;
                    for (var i=0; i<arrField.length; i++){
                        var tr = document.createElement("tr")
                        for (var j=0; j<colCount; j++){
                            var newCell = tr.insertCell()
                            newCell.innerHTML = arrTd[j]
                            switch(newCell.childNodes[0].name){
                                case "field":
                                    newCell.childNodes[0].value = arrFieldForTable[i]
                                    break
                                case "table":
                                    var parent = data.instance.get_node(arrFieldId[i].parent)
                                    newCell.childNodes[0].value = parent.text
                                    break
                            }
                        }
                        tbody.appendChild(tr)
                    }
                }
                // xoá toàn bộ bảng trừ header
                function remove(){
                    var tbody = table.getElementsByTagName("tbody")[0]
                    tbody.innerHTML = "";
                }
                remove()
                // thêm field, table vào bảng
                addRow()
                // nối để tạo query
                from += arrTable.join(", ")
                query += arrField.join(", ")
                if (query + from != 'select \nfrom ')
                {
                    document.getElementById("selectQuery").value = query + from
                } else {
                    document.getElementById("selectQuery").value = ''
                }
                
            }).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json),
                },
                "checkbox": {
                    "keep_selected_style": false
                },
                "plugins": ["wholerow", "checkbox"],
            });
        })
        //
        $(function(){
            var table = document.getElementById("myTable")
            // lấy sum, count, min, max
            $('#myTable').on('change', '.dropboxfuntion' , function () {
                var lines = document.getElementById("selectQuery").value
                lines = lines.split(/\n/)
                var rowCount = table.rows.length
                for(var i=1; i<rowCount; i++) {
                    var row = table.rows[i]
                    var fieldrow = row.cells[0].childNodes[0].value
                    var tablerow = row.cells[1].childNodes[0].value
                    var drpbox = row.cells[2].childNodes[0].value
                    newLines = lines[0].split(', ')
                    let index = newLines.findIndex(element => element.includes(tablerow + "." + fieldrow))
                    if (drpbox != 'None'){
                        if (i == 1) {
                            newLines[index] = 'select ' + drpbox + "(" + tablerow + "." + fieldrow + ")"
                        } else {
                            newLines[index] = drpbox + "(" + tablerow + "." + fieldrow + ")"
                        }
                        
                    } else {
                        if (i == 1) {
                            newLines[index] = 'select ' + tablerow + "." + fieldrow 
                        } else {
                            newLines[index] = tablerow + "." + fieldrow 
                        }
                    }
                    lines[0] = newLines.join(', ')
                }
                lines = lines.join("\n")
                document.getElementById("selectQuery").value = lines
                $('.group').trigger('change')
                $('.dropboxsort').trigger('change')
            });
            // lấy order by
            $('#myTable').on('change', '.dropboxsort' , function () {
                var arrOrder = [], order = "order by "
                var rowCount = table.rows.length;
                for(var i=1; i<rowCount; i++) {
                    var row = table.rows[i];
                    var fieldRow = row.cells[0].childNodes[0].value
                    var tableRow = row.cells[1].childNodes[0].value
                    var txtbox = row.cells[3].childNodes[0].value
                    var drpbox = row.cells[2].childNodes[0].value
                    if (txtbox != 'None') {
                        if(txtbox == 'Descending'){
                            txtbox = 'desc'
                        } else {
                            txtbox = 'asc'
                        }
                        if (drpbox != 'None'){
                            arrOrder.push(drpbox + "(" + tableRow + "." + fieldRow + ")" + " " + txtbox)
                        } else {
                            arrOrder.push(tableRow + "." + fieldRow + " " + txtbox)
                        }
                    } 
                }
                if (arrOrder.length == 0){
                    order = ''
                }
                order += arrOrder.join(", ")
                var lines = document.getElementById("selectQuery").value
                lines = lines.split(/\n/)
                lines[4] = order
                lines = lines.join("\n")
                document.getElementById("selectQuery").value = lines
            });
            // lấy where
            $('#myTable').on('change', '.where', function () {
                var arrWhere = [], where = "where "
                var rowCount = table.rows.length;
                for(var i=1; i<rowCount; i++) {
                    var row = table.rows[i]
                    var fieldRow = row.cells[0].childNodes[0].value
                    var tableRow = row.cells[1].childNodes[0].value
                    var txtbox = row.cells[5].childNodes[0].value
                    if (txtbox != '') {
                        arrWhere.push(tableRow + "." + fieldRow + " " + txtbox)
                    }
                }
                where += arrWhere.join("  ")
                var lines = document.getElementById("selectQuery").value
                lines = lines.split(/\n/)
                lines[2] = where
                lines = lines.join("\n")
                document.getElementById("selectQuery").value = lines
            });
            // lấy group by
            $('#myTable').on('change', '.group', function () {
                var arrGroup = [], group = "group by "
                var rowCount = table.rows.length
                for(var i=1; i<rowCount; i++) {
                    var row = table.rows[i];
                    var fieldRow = row.cells[0].childNodes[0].value
                    var tableRow = row.cells[1].childNodes[0].value
                    var chkbox = row.cells[4].childNodes[0]
                    var funt = row.cells[2].childNodes[0].value
                    if (funt == 'None'){
                        row.cells[4].childNodes[0].checked = true
                    } else {
                        row.cells[4].childNodes[0].checked = false
                    }
                    if (chkbox.checked) {
                        arrGroup.push(tableRow + "." + fieldRow)
                    }
                }
                group += arrGroup.join(", ")
                var lines = document.getElementById("selectQuery").value
                lines = lines.split(/\n/)
                lines[3] = group
                lines = lines.join("\n")
                document.getElementById("selectQuery").value = lines
            });
        });
    </script>
    <div class="container">
        <p style="color: red;">@ViewBag.Error</p>

        <div class="navbar">
            <div id="jstree">
            </div>
            <div class="content">
                <div style="margin-bottom: -6px;">
                    <div style="margin-bottom: 2px;">
                        <span>Title</span>
                        @Html.TextBoxFor(model => model.title, new { placeholder = "Insert title for report" })
                    </div>
                    @Html.TextAreaFor(qry => qry.selectQuery, new { rows = 20, cols = 100})
                    <input type="submit"  style="position: relative; bottom: 8px; height: 25px;" value="Execute Query" />
                </div>
                <table class="table1" style="width: 100%;" id="myTable">
                    <thead>
                        <tr style="background-color:#c7c7c7;">
                            <th style="width: 14%;">Field</th>
                            <th style="width: 14%;">Table</th>
                            <th style="width: 12%;">Funtion</th>
                            <th style="width: 12%;">Sort</th>
                            <th style="width: 10%;">Group by</th>
                            <th style="width: 15.5%;">Criteria</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td><input type="text" disabled style="border: 0; padding: 0; text-align: center; color: black; width: 100px;" name="field" /></td>
                            <td><input type="text" disabled style="border: 0; padding: 0; text-align: center; color: black; width: 100px;" name="table" /></td>
                            <td>
                                <select class="dropboxfuntion">
                                    <option value="None">None</option>
                                    <option value="Count">Count</option>
                                    <option value="Sum">Sum</option>
                                    <option value="Min">Min</option>
                                    <option value="Max">Max</option>
                                    <option value="Avg">Avg</option>
                                </select>
                            </td>
                            <td>
                                <select class="dropboxsort">
                                    <option value="None">None</option>
                                    <option value="Ascending">Ascending</option>
                                    <option value="Descending">Descending</option>
                                </select>
                            </td>
                            <td>
                                <input  class="group" type="checkbox" style="height: 15px; width: 20px; padding: 0; text-align:center">
                            </td>
                            <td>
                                <input class="where" style="height: 19px; padding: 0; text-align:center; width: 97%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    }
</body>
</html>
    